{{#each ideas}}

<div class="col-md-4">
    <div class="card">
        <h5 class="card-header">{{title}}</h5>
        <div class="card-body">
            <p class="card-text">{{details}}</p>
            <a class="btn btn-dark" href="/ideas/edit/{{id}}">Edit </a>
            <form method="post" action="/ideas/{{id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" class="btn btn-danger " value="Delete" />
            </form>
        </div>
    </div>
</div>
{{else}}
<p>No notes listadas</p>
{{/each}}